@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



html, body {
    height: 100%;
}

h1 {
    font-family: "Playfair Display", serif !important;
    font-size: 3rem;
    font-weight: 600 !important;
    color: #091747;
    padding-bottom: 0px;
}

/* Hide sidebar */
[data-testid="collapsedControl"] {
        display: none;
}


/* Reduce padding top of the page */
.block-container {
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

/* Change field form and selectbox background color */
.st-b2, .st-b7 {
    background-color: #ffffff !important;
}

/* Set the background image */
[data-testid="stAppViewContainer"] {
    background-image: url("https://img.freepik.com/free-vector/clean-medical-background-vector_53876-140865.jpg?w=1060&t=st=1716306039~exp=1716306639~hmac=a3ab6971eebf19db2cb992dc07355c20daa7410ae3c9447206d7163acc097ff3");
    background-size: cover;  /* This makes the image cover the entire screen */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;  /* Ensures the element takes up the full height of the viewport */
}
[data-testid="stAppViewContainer"] > .main {
    background: none;
    height: 100%;
}

/* Hide download button */
[title="Send to Streamlit"]{
    visibility: hidden !important;
}

.CanvasToolbar_enabled__2bOtL:first-child{
    visibility: hidden !important;
}

/* Move arrows and bin buttons left */
.CanvasToolbar_enabled__2bOtL, .CanvasToolbar_disabled__T9sX8{
    position: relative !important;
    left: 1rem !important;
}
